FLASK_APP=app.py
FLASK_ENV=development
SECRET_KEY=changeme123

MONGO_URI=mongodb+srv://user:password@cluster.mongodb.net/nexus

AWS_ACCESS_KEY_ID=YOUR_AWS_KEY
AWS_SECRET_ACCESS_KEY=YOUR_AWS_SECRET
AWS_BUCKET_NAME=nexuscloudgallery
AWS_REGION=ap-south-1

SMTP_SENDER=your@email.com
SMTP_PASSWORD=yourpassword

MAPBOX_API_KEY=your_mapbox_api_key